.aws-sam/
.serverless/
.aws/
node_modules
package-lock.json
.serverless/
.aws/
logs/
*.log
.env
local.yml
readTEMP.txt
dynamodb-local/
dynamodb_local_latest.zip
.DS_Store
Thumbs.db
temp.mjs
receptTemp.txt
*.txt